.creditfooter{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 4em 0;
}



.creditfooter__credit{

    p{
        font-family: $font_family_marcellus;
        font-weight: 400;
        font-size: $fs_150;
        line-height: 1.6;
        letter-spacing: 0.1em;
    
        @include media("<=tablet"){
           font-size: $fs_200;
          }
    
    }
    a{
        text-decoration: none;
        color: $mainclr_white;
        font-family: $font_family_mon;
        font-weight: 700;
        font-size: $fs_200;
    }
 
}