.fp-watermark{
    display: none;
}




.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $global_padding;
    position: relative;
}

.hero__intro{
    mix-blend-mode: multiply;
    font-family:$font_family_marcellus;
    font-weight: 500;
    font-size:$fs_400 ;
    -webkit-text-stroke:0.5px $mainbg_black;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2;



        span{
                position: relative;

                img{
                    mix-blend-mode: multiply;
                    pointer-events: none;
                    position: absolute;
                    right: 0;
                    width: 0;
                    object-fit: contain;
                    opacity: 0;
                    border-radius: 100%;
                    transition: width 0.2s ease-in ,  border-radius 0.2s ease-in;
            
                    &.active{
                        opacity: 1;
                        width: 5em;
                        border-radius: 0;
                    }
                
                    &.last{

                        &.active{
                            width: 8em;
                        }
                    }

                }


                @include media("<tablet"){
                        img{

                            &.active{
                                opacity: 0;
                                width: 0;
                                border-radius: 0;
                            }
                        }
                    

                }

        }
        

   



}