.fp-watermark{
    display: none;
}




.hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $global_padding;
    position: relative;
}

.hero__intro{
    mix-blend-mode: difference;
    font-family:$font_family_marcellus;
    font-weight: 500;
    font-size:$fs_350 ;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 2;



        span{
                position: relative;

                img{
                    mix-blend-mode: difference;
                    pointer-events: none;
                    position: absolute;
                    width: 0;
                    object-fit: contain;
                    opacity: 0;
                    transition:   opacity 0.2s ease-in;



                    &.first{

                        inset: -300% auto  auto -50%;
                        &.active{ 
                            width: 4em;
                        }
                    }
                    &.second{

                        inset: auto 50%  -100%  0;
                    }
                    &.third{

                        inset: auto 50%  50%  auto;
                    }
                    &.fourth{

                        inset: auto 50%  50%  auto;

                        &.active{
                            width: 6em;
                        }

                    }
    
    
            
                    &.active{
                        opacity: 1;
                        width: 5em;
                    }

                }




               

                @include media("<tablet"){
                
                        img{

                            &.active{
                                opacity: 0;
                                width: 0;
                                border-radius: 0;
                            }
                        }
                    

                }

        }



    

    @include media("<tablet"){
            padding: 5rem  1em;
        
    }


}





.projects{
    height: 100vh;

    img{
        width: 50%;
    }
}