@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@font-face {
  font-family: "AvenirLTStd";
  src: url(../fonts/AvenirLTStd-Black.otf) ;
}


*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  }

  
body{
  background-color: var(--mainbg_black);
  color: var(--mainclr_white);
  position: relative;
 overflow-x: hidden;
}
  



/* Global variables */
:root{
  --font_family_comfortaa:'Comfortaa', cursive;
  --font_family_avenir:"AvenirLTStd";
  --font_family_mon:'Montserrat', sans-serif;
 
  --mainbg_black:#0e0e0e;
  --mainclr_white:#fff;
  --transparent_bg_black:rgba(14, 14, 14, 0.8);
  --main_purple:#844BFF;
 --linear_puple: linear-gradient(258.81deg, #C293FF 16.52%, #A026FF 59.82%, #844BFF 86.03%);
 
 --global_padding:0 8%;
 --nav_padding:0 3%;
 --fs_100:1rem;
 --fs_200:clamp(1rem , 3vw ,2rem); 
 --fs_300:clamp(1rem , 3vw ,3rem); 
 --fs_350:clamp(1.5rem , 4vw , 3.5rem);
 --fs_400:clamp(2rem ,4vw , 4rem);
}


/* for navbar only */
:root{
  --nav_height:5.5rem;
  --ham_stick1_width:1.5em;
  --ham_stick1_height:0.3em;
  --ham_stick2_width:3em;
  --ham_stick2_height:0.3em;
  --ham_stick3_width:2.2em;
  --ham_stick3_height:0.3em;
  --ham_stick_margin:0.6em 0;
}





/* navbar */

.nav_container{
  border: 2px solid var(--main_purple);
  background-color: var(--transparent_bg_black);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: 0px -4px 15px 0.1px rgb(255, 255, 255);
  position: fixed;
  inset: 0 0 auto 0;
  height: var(--nav_height);
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 999;
}


.navbar{
  display: grid;
  align-items: center;
 grid-template-columns: repeat(3,1fr);
 padding: var(--nav_padding);
 height: var(--nav_height);
 
}

/* for nav animation */
.nav_container.nav_active{
  height: 100%;
  --transparent_bg_black:rgba(14, 14, 14, 0.9);
}



/* hamburger sign */



.ham_container{
  cursor: pointer;
  width: fit-content;
}

.ham_stick1{
  width:var(--ham_stick1_width);
  height: var(--ham_stick1_height);
  background-color: var(--main_purple);
  border-radius: 5px;

}
.ham_stick2{
width:var(--ham_stick2_width);
height: var(--ham_stick2_height);
  background-color:var(--main_purple) ;
  border-radius: 5px;
}

.ham_stick3{
width:var(--ham_stick3_width);
  height: var(--ham_stick3_height);
  background-color: var(--main_purple);
  border-radius: 5px;
}

.ham div{
  margin: var(--ham_stick_margin);
  transition:all 0.5s ease-in;
}

/* hamburger animation */

.ham.nav_active .ham_stick1{
  width: var(--ham_stick2_width);
transform: rotate(-45deg) translate(calc(var(--ham_stick2_height)*-3),var(--ham_stick2_height) );
}
.ham.nav_active .ham_stick2{
  opacity: 0;
}
.ham.nav_active .ham_stick3{
  width: var(--ham_stick2_width);
transform: rotate(45deg) translate(calc(var(--ham_stick2_height)*-3),calc(var(--ham_stick2_height)* -1) );
}



/* logo */
.logo{
text-align: center;
width: 100%;
}
.logo img{
  width: 100%;
  max-width: 4em;
}

/* socials */

.socials{
  display: flex;
align-items: center;
  gap: 3em;
list-style: none;
  
margin-left: auto;
  
}
.socials img{
width: 100%;
  max-width: 3em;
  max-height: 3em;
}


/* dropdown items */

.dropdown{
  font-family: var(--font_family_comfortaa);
   padding: var(--global_padding);
  display: flex;
  flex-direction: column;
 position: relative;
   font-size: clamp(2rem , 4vw , 2.5rem);
 }

 .dropdown hr{
 
  height: 2px;
  border: none;
  border-radius:10px ;
  background-color: var(--main_purple);
  margin:0 0 10%;
  width: 100%;
 }

.dropdown_links{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content:center;
  align-items: center;
  gap: 2em;
  }
  .dropdown_links a{
    text-decoration: none;
    color: var(--mainclr_white);
    transition: color 0.3s ease-in;
  }
  .dropdown_links a:hover{
    color: var(--main_purple);
  }

  .dropdown_links li{
    cursor: pointer;
    opacity:0;
  }
  .dropdown_links li.active{
    opacity:1;
  }
  .dropdown_links li:hover{
    font-size: clamp(1.8rem , 3.7vw , 2.3rem);
    color: var(--main_purple);
  }

.dropdown_socials{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 1em  0;
  align-items: center;
  gap: 3em;
margin: auto 0 0 0;
display: none;
margin-top: 3em;
opacity: 0;
}



.dropdown_socials.active{
  opacity: 1;
}
.dropdown_socials img{
  
  width: 100%;
  max-width: 3.8em;
  max-height: 3.8em;
}



/* width adjustments for navbar */

/* for 1000px width */

@media (max-width:1000px) {


 .socials{
   gap: 0.7em;
 }


}
/* for 700px width */
@media (max-width:700px) {
  :root{
    --nav_height:4rem;
  }

 :root{
  --ham_stick1_width:0.8em;
  --ham_stick1_height:0.2em;
  --ham_stick2_width:1.8em;
  --ham_stick2_height:0.2em;
  --ham_stick3_width:1.3em;
  --ham_stick3_height:0.2em;
  --ham_stick_margin:0.4em 0;

 }
 .logo img{
  max-width: 3em;
}
 .socials{
  display:none
}
.dropdown_socials{
  display: flex;
}
 }

/* for 500px width */

 @media (max-width:500px){
  :root{
    --nav_height:3.5rem;
  }
.nav_container{
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

  .logo img{
    max-width: 2.5em;
  }
.dropdown_socials{
  gap: 1em;
}
 }






/* home section */


#home{
  height: 100vh;
}

/* hero section */

#hero{
  height: 100vh;
  font-family: var(--font_family_comfortaa);
  display: grid;
 grid-template-columns: 1fr 1fr;
 padding: var(--global_padding);
 padding-top: var(--nav_height)  ;
}

.hero_intro{
  text-align: left;
  font-size: var(--fs_350) ;
  font-weight: 700;
  line-height: 1.6;
  padding: 1em 0 0;
  
}

.hero_intro_fadingtext{
 width: 100%;
 height: clamp(2rem , 7vw , 5rem);
 overflow: hidden;
}

.hero_intro_fadingtext span {
  display: block;
  color: var(--main_purple);
animation: fade_rotate 6s infinite 1s ;
}




/* Hero banner section */
.hero_banner{
  position: relative;

}

.hero_bannerbg{
 position: absolute;
 inset: 0 0 auto 0;
z-index: -100;

}
.hero_bannerbg svg{
  width: 100%;
}
.hero_banner_fadingimg {
  display: flex;
  flex-direction: column;
 align-items: center;
margin-top: 20%;
overflow-y: hidden;

}
.hero_banner_fadingimg .fadimg{
  width: 90%;
  animation: fade_rotate 6s infinite 1s ;
}
.hero_banner_fadingimg .fadimg svg{
  width: 100%;
  
}


/* rotating animation for hero section */

@keyframes fade_rotate {

  20%{
    transform: translateY(5%);
    opacity: 1;
   }

   25%{
    opacity: 0;
  }

  33%{
    transform: translateY(-100%);
  
  }
  50%{
    opacity: 1;
  }


  53%{
    transform: translateY(-95%);
   opacity: 1;
  }
  58%{
    opacity: 0;
  }
  66%{
    transform: translateY(-200%);
    
  }
  83%{
    opacity: 1;
  }
  86%{
    transform: translateY(-195%);
    opacity: 1;
  }
  94%{
    opacity: 0;
  }

  100%{
    transform: translateY(-305%);
    opacity: 1;
  }
 
} 




/* adjustments for screen width */
@media  screen and (max-width:1300px) {
  #hero{
    height: 80vh;
  }


  
}


  @media  screen and (max-width:1000px) {
    #hero{
      grid-template-columns: 1fr ;
      height: auto;
    }

 .hero_banner{
   width: 70vw;
   margin: 0 auto;
   margin-top: -8%;
 }

    
}
@media  screen and (max-width:500px) {

.hero_banner{
 width: 70vw;
 margin: 0 auto;
}

  
}


/* divider strip */

.strip{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--global_padding);
  margin: 2em 0 0;
  overflow-x: hidden;
}
.strip img{
  width: clamp(2.5em , 8% , 5em);

}

/* Projects */
#projects{
  padding: var(--global_padding);
  padding-top: var(--nav_height) ;
}

.projects_header{
  font-family: var(--font_family_avenir);
  text-align: center;
  font-size: var(--fs_400);
  font-weight: 750;
  margin: 0 0 2em;
}




.project_item{
cursor: pointer;
position: relative;
mix-blend-mode: difference;
}
.project_item::after{
  content: "";
  position: absolute;
  inset:auto 0 0 0 ;
  background-color: var(--mainclr_white);
  height: 1px;
  opacity: 0.5;
  
}

.project_item.noline::after{
  display: none;
}



.project_item_title{
  font-family: var(--font_family_comfortaa);
  line-height: 2;
  color: var(--mainclr_white);
  transition: transform 0.2s ease-in;
  padding: 3em 0;
  mix-blend-mode: difference;
}

  .project_item_title h1{
   font-size: var(--fs_350);
   font-weight: 700;
   transition: opacity 0.2s ease-in;
    }
  .project_item_title p{
      font-size: var(--fs_200);
      font-weight: 400;
      transition: opacity 0.2s ease-in;
    }
  .project_item .colored_subtitle{
    color: var(--main_purple);
  }


    .project_item_img{
      position: absolute;
      inset: -40% 10% auto auto;
      width: 40%;
      mix-blend-mode: difference;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
    .project_item_img.isactive{
      opacity: 1;
      height: auto;
    }
    .project_item_img img{
      width: 100%;
    }

  
  

/* animation and hover states */

.project_list:hover h1,
.project_list:hover p{

  opacity:0.1 ;
  
  }
  .project_item:hover  .project_item_title{

    transform: translateX(3%);
    }
    


 /* media queries for project section    */

 @media screen and (max-width:1000px){
   .projects_header{
     margin: 0 0 1.5em;
   }
   .project_item_title{
     padding: 2em 0 ;
   }
   
 }
 @media screen and (max-width:700px) {
  .project_item_img{
        inset: 0 10% auto auto;
  }
 }
 @media screen and (max-width:500px){
  .projects_header{
    margin: 0 0 1em;
  }
  .project_item_title{
    padding: 2em 0 ;
  }

}



/* Reveiw section */


#reviews{
  padding: var(--global_padding);
  padding-top: var(--nav_height);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}
.reviews_header{
  font-family: var(--font_family_avenir);
  text-align: center;
  font-size: var(--fs_400);
  font-weight: 750;
  margin: 1em 0 2em;
  width: 100%;
}

.reviews_card_stack{
  position: relative;
  width: 85%;
  overflow: hidden;

}
.reviews_card{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translate(50%);
  transition: all 0.5s ease-in;
}
.reviews_card div{
width: 100%;
margin: 0 auto;
height: fit-content;
}


 .reviews_card.active{
  transform: translate(0);
   opacity: 1;
 }

 .container-dots {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
  padding-bottom: 1em;
}
.dot {
  height: 0.9em;
  width: 0.9em;
  border-radius: 50%;
  background: #808080;
  transition: all 0.5s ease-in;
  cursor: pointer;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.dot.active {
  height: 0.5em;
width: 3em;
border-radius: 25px;
background: #FFFFFF;
box-shadow: inset -2px -2px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* media query for review section */
@media (max-width:700px) {
 
  .reviews_header{
    margin: 0 0 1em;
  }

  .reviews_card_stack{
    width: 100%;
  }

.reviews_card div{
  width: 100%;
}
 
.dot{
    height: 0.7em;
    width: 0.7em;
   
  }
  .dot.active {
    height: 0.3em;
    width: 2em;
   
    }
}

@media (max-width:900px){

  .container-dots {
    width: 100%;
    gap: 4%;
    justify-content: center;
  padding-top: 2em;
  }
}



/* prefooter section */

.footer{
  font-size: var(--fs_300);
  font-weight: 400;
  font-family:var(--font_family_comfortaa) ;
  padding: var(--global_padding);
  padding-top: var(--nav_height);
}
.footer_greet{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  line-height: 1.6;
}

.footer_greet span:first-child{
  margin-bottom: 1em;
}

.footer_greet_purpletext{
    color: var(--main_purple);
    word-wrap: break-word;
}

.footer_downloadbtn{
  text-align: center;
  margin-top: 2em;
  width: 100%;
}
.footer_downloadbtn a{
  font-size: var(--fs_300);
  text-decoration: none;
  color: var(--mainclr_white);
  padding: 0.5em 1.5em;
  border: 3px solid var(--mainclr_white);
  border-radius: 2em;
  display: inline-block;
}

.footerimg{
  width: 100%;
  margin-top: 2em;
 
}

.footernote{
  font-family: var(--font_family_mon);
  font-size: clamp(0.5rem, 2vw, 2rem );
  font-weight: 400;
  margin: 1em 0 ;
  padding-bottom: 2em;
}
.footernote a{
  color: var(--mainclr_white);
  text-decoration: none;
  font-weight: 700;
}