@import "./globalVariables.scss";

// project1

.project1{
    padding: $global_padding;
}

.project1_nav{
    margin-top:calc($nav_height + 5em) ;
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media("<=tablet"){
        margin-top:calc($nav_height + 1em) ;
        flex-direction: column;
        gap: 1em;
        font-size: $fs_400;

    }
}
.project1_nav button{
    padding: 0.5em 1em;
    font-size: $fs_300;
    font-weight: 400;
    font-family:$font_family_avenir ;
    cursor: pointer;
    background: $grad_pink;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1.5px solid transparent;
    border-image: $grad_pink;
    border-width: 1.5pt;
    border-image-slice: 1;
    letter-spacing: 0.1em;
}
.project1_nav button.active{
    padding: 0.5em 1em;
    color: $mainbg_black;
    background:$grad_pink;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: $mainbg_black;
    background-clip: unset;
    font-size: $fs_300;
    font-weight: 400;
    font-family:$font_family_avenir;
    border: none;
    box-shadow: 0px 10px 41px -12px $main_pink;
}


