@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@font-face {
  font-family: "AvenirLTStd";
  src: url(./fonts/AvenirLTStd-Black.otf) ;
}


*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global variables */
:root{
  --font_family_comfortaa:'Comfortaa', cursive;
  --font_family_avenir:"AvenirLTStd";
 
  --mainbg_black:#0e0e0e;
  --mainclr_white:#fff;
  --transparent_bg_black:rgba(14, 14, 14, 0.8);
  --main_purple:#844BFF;
 --linear_puple: linear-gradient(258.81deg, #C293FF 16.52%, #A026FF 59.82%, #844BFF 86.03%);
 
 --global_padding:0 5%;
 --fs_100:1rem;
 --fs_200:2rem; 
 --fs_300:3rem;
 --fs_400:clamp(1.5rem , 4vw , 3.5rem);
 
 
 
 --nav_height:7rem;
  --ham_stick1_width:1.5em;
  --ham_stick1_height:0.3em;
  --ham_stick2_width:3em;
  --ham_stick2_height:0.3em;
  --ham_stick3_width:2.2em;
  --ham_stick3_height:0.3em;
  --ham_stick_margin:0.6em 0;
}


html{
scroll-behavior: smooth;
}

body{
  background-color: var(--mainbg_black);
  color: var(--mainclr_white);
  position: relative;
 
}

/* navbar */

.nav_container{
  border: 2px solid var(--main_purple);
  background-color: var(--transparent_bg_black);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: 0px -4px 15px 0.1px rgb(255, 255, 255);
  position: fixed;
  inset: 0 0 auto 0;
  height: var(--nav_height);
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 999;
}

.navbar{
  display: grid;
  align-items: center;
 grid-template-columns: repeat(3,1fr);
 padding: var(--global_padding);
 height: var(--nav_height);
 
}


/* ham */



.ham_container{
  cursor: pointer;
  width: fit-content;
}

.ham_stick1{
  width:var(--ham_stick1_width);
  height: var(--ham_stick1_height);
  background-color: var(--main_purple);
  border-radius: 5px;

}
.ham_stick2{
width:var(--ham_stick2_width);
height: var(--ham_stick2_height);
  background-color:var(--main_purple) ;
  border-radius: 5px;
}

.ham_stick3{
width:var(--ham_stick3_width);
  height: var(--ham_stick3_height);
  background-color: var(--main_purple);
  border-radius: 5px;
}

.ham div{
  margin: var(--ham_stick_margin);
  transition:all 0.5s ease-in;
}

/* dropdown items */

.dropdown{
  font-family: var(--font_family_comfortaa);
   padding: var(--global_padding);
  display: flex;
  flex-direction: column;
 position: relative;
   font-size: var(--fs_200);
 }

 .dropdown hr{
 
  height: 2px;
  border: none;
  border-radius:10px ;
  background-color: var(--main_purple);
  margin:0 0 1em;
  width: 100%;
 }

.dropdown_links{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content:center;
  align-items: center;
  gap: 2em;
  }
  .dropdown_links a{
    text-decoration: none;
    color: var(--mainclr_white);
    transition: color 0.3s ease-in;
  }
  .dropdown_links a:hover{
    color: var(--main_purple);
  }

  .dropdown_links li{
    cursor: pointer;
    opacity:0;
  }
  .dropdown_links li.active{
    opacity:1;
  }
  .dropdown_links li:hover{
    font-size: 1.8rem;
    color: var(--main_purple);
  }

.dropdown_socials{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 1em  0;
  align-items: center;
  gap: 3em;
margin: auto 0 0 0;
display: none;
margin-top: 3em;
opacity: 0;
}



.dropdown_socials.active{
  opacity: 1;
}
.dropdown_socials img{
  
  width: 100%;
  max-width: 3.8em;
  max-height: 3.8em;
}


/* logo */
.logo{
text-align: center;
width: 100%;
}
.logo img{
  width: 100%;
  max-width: 5.2em;
}

/* socials */

.socials{
  display: flex;
align-items: center;
  gap: 3em;
list-style: none;
  
margin-left: auto;
  
}
.socials img{
width: 100%;
  max-width: 3.8em;
  max-height: 3.8em;
}

/* width adjustments for navbar */

@media (max-width:1000px) {
 :root{
  --nav_height:5.5rem;
 }
 .logo img{
  max-width: 4.5em;
}
 .socials{
   gap: 0.7em;
 }
 .socials img{
  max-width: 3em;
  max-height: 3em;
  
}

}
@media (max-width:700px) {
 
  .logo img{
    max-width: 4em;
  }
 :root{
  --ham_stick1_width:1em;
  --ham_stick1_height:0.2em;
  --ham_stick2_width:2em;
  --ham_stick2_height:0.2em;
  --ham_stick3_width:1.5em;
  --ham_stick3_height:0.2em;
  --ham_stick_margin:0.4em 0;
  --nav_height:5rem;

 }
 .socials{
  display:none
}
.dropdown_socials{
  display: flex;
}
 }
 @media (max-width:500px){
  :root{
    --nav_height:4rem;
   }
.logo img{
  max-width: 3em;
}
.dropdown_socials{
  gap: 1em;
}
 }

/* for nav animation */
.nav_container.nav_active{
  height: 100%;
  --transparent_bg_black:rgba(14, 14, 14, 0.9);
}





/* hamburger animation */

.ham.nav_active .ham_stick1{
  width: var(--ham_stick2_width);
transform: rotate(-45deg) translate(calc(var(--ham_stick2_height)*-3),var(--ham_stick2_height) );
}
.ham.nav_active .ham_stick2{
  opacity: 0;
}
.ham.nav_active .ham_stick3{
  width: var(--ham_stick2_width);
transform: rotate(45deg) translate(calc(var(--ham_stick2_height)*-3),calc(var(--ham_stick2_height)* -1) );
}


/* dropdown link animation */



/* hero section */

#hero{
  font-family: var(--font_family_comfortaa);
  display: grid;
 grid-template-columns: 1fr 1fr;
 padding: var(--global_padding);
 padding-top:   calc(var(--nav_height) + 2em) ;
}

.hero_intro{
  text-align: left;
  font-size: var(--fs_400) ;
  font-weight: 600;
  line-height: 1.6;
  padding: 1em 0.7em 0;
  
}

.fading_text{
 width: 100%;
 height: clamp(2rem , 7vw , 5rem);
 overflow: hidden;
animation: fade 6s infinite 2s;

}

.fading_text span {
  display: block;
  color: var(--main_purple);


  animation: rotate 6s infinite 2s ;
  
}

/* fading test animation */
@keyframes rotate {

  20%{
    transform: translateY(5%);
   

  }

  33%{
    transform: translateY(-100%);
   
  }

  53%{
    transform: translateY(-95%);
   
  }
  66%{
    transform: translateY(-200%);
  }
  86%{
    transform: translateY(-195%);
    
  }
  100%{
    transform: translateY(-300%);
  }
  
}

@keyframes fade {
  0%{
    opacity: 1;
  }
  20%{
    opacity: 1;
  }

  25%{
    opacity: 0;
  }
  33%{
    opacity: 1;
  }
 
  53%{
opacity: 1;
  }

  58%{
    opacity: 0;
  }
  66%{
    opacity: 1;
  }
86%{
  opacity: 1;
}
91%{
  opacity: 0;
}

100%{
    opacity: 1;
  }
  
}


.hero_banner img{
  width: 100%;
}



  @media  screen and (max-width:1000px) {
    #hero{
      grid-template-columns: 1fr ;
     
    }
 
    
    .hero_banner img{
      width: 70%;
      margin-top: 1em ;
      }
  }

