@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@font-face {
  font-family: "AvenirLTStd";
  src: url(./fonts/AvenirLTStd-Black.otf) ;
}


*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Global variables */
:root{
  --font_family_comfortaa:'Comfortaa', cursive;
  --font_family_avenir:"AvenirLTStd";
  --mainbg_black:#0e0e0e;
  --transparent_bg_black:rgba(14, 14, 14, 0.7);
  --main_purple:#844BFF;
 --linear_puple: linear-gradient(258.81deg, #C293FF 16.52%, #A026FF 59.82%, #844BFF 86.03%);
  --global_padding:0 5%;
  --nav_height:8em;
  --ham_stick1_width:1.5em;
  --ham_stick1_height:0.3em;
  --ham_stick2_width:3em;
  --ham_stick2_height:0.3em;
  --ham_stick3_width:2.2em;
  --ham_stick3_height:0.3em;
  --ham_stick_margin:0.6em 0;

  
}




body{
  background-color: var(--mainbg_black);
  color: #fff;
  position: relative;
 
}

/* navbar */

.nav_container{
  border: 2px solid var(--main_purple);
  background-color: var(--transparent_bg_black);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  box-shadow: 0px -4px 15px 0.1px rgb(255, 255, 255);
  position: fixed;
  inset: 0 0 auto 0;
  
  height: var(--nav_height);
  overflow: hidden;
  height: var(--nav_height);
  transition: all 0.5s ease;
}

.navbar{
  display: grid;
  align-items: center;
 grid-template-columns: repeat(3,1fr);
 padding: var(--global_padding);
 height: var(--nav_height);
 
}


/* ham */



.ham_container{
  cursor: pointer;
  width: fit-content;
}

.ham_stick1{
  width:var(--ham_stick1_width);
  height: var(--ham_stick1_height);
  background-color: var(--main_purple);
  border-radius: 5px;

}
.ham_stick2{
width:var(--ham_stick2_width);
height: var(--ham_stick2_height);
  background-color:var(--main_purple) ;
  border-radius: 5px;
}

.ham_stick3{
width:var(--ham_stick3_width);
  height: var(--ham_stick3_height);
  background-color: var(--main_purple);
  border-radius: 5px;
}

.ham div{
  margin: var(--ham_stick_margin);
  transition:all 0.5s ease-in;
}

/* dropdown items */

.dropdown{
  font-family: var(--font_family_comfortaa);
   padding: var(--global_padding);
  display: flex;
  flex-direction: column;
 
   position: relative;
   font-size: 2rem;
 }

 .dropdown hr{
 
  height: 2px;
  border: none;
  border-radius:10px ;
  background-color: var(--main_purple);
  margin:0 0 1em;
  width: 100%;
 }

.dropdown_links{
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content:center;
  align-items: center;
  gap: 2em;
  }

  .dropdown_links li{
    transition: all 0.2s ease-in;
    cursor: pointer;
    opacity:0;
  }
  .dropdown_links li.active{
    opacity:1;
  }
  .dropdown_links li:hover{
    font-size: 1.8rem;
    color: var(--main_purple);
  }

.dropdown_socials{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 1em  0;
  align-items: center;
  gap: 3em;
margin: auto 0 0 0;
display: none;
margin-top: 3em;
opacity: 0;

}


.dropdown_socials.active{
  opacity: 1;
}
.dropdown_socials img{
  
  width: 100%;
  max-width: 3.8em;
  max-height: 3.8em;
}


/* logo */
.logo{
text-align: center;
width: 100%;
}
.logo img{
  width: 100%;
  max-width: 5.2em;
}

/* socials */

.socials{
  display: flex;
align-items: center;
  gap: 3em;
list-style: none;
  
margin-left: auto;
  
}
.socials img{
width: 100%;
  max-width: 3.8em;
  max-height: 3.8em;
}

/* width adjustments for navbar */

@media (max-width:1000px) {
 :root{
  --nav_height:6em;
 }
 .socials{
   gap: 0.7em;
 }
 .socials img{
  max-width: 3em;
  max-height: 3em;
  
}

}
@media (max-width:700px) {
 
  .logo img{
    max-width: 4em;
  }
 :root{
  --ham_stick1_width:1em;
  --ham_stick1_height:0.2em;
  --ham_stick2_width:2em;
  --ham_stick2_height:0.2em;
  --ham_stick3_width:1.5em;
  --ham_stick3_height:0.2em;
  --ham_stick_margin:0.4em 0;
  --nav_height:5em;

 }
 .socials{
  display:none
}
.dropdown_socials{
  display: flex;
}
 }
 @media (max-width:500px){
  :root{
    --nav_height:4em;
   }
.logo img{
  max-width: 3em;
}
.dropdown_socials{
  gap: 1em;
}
 }

/* for nav animation */
.nav_container.nav_active{
  height: 100%;
  --transparent_bg_black:rgba(14, 14, 14, 0.9);
}





/* hamburger animation */

.ham.nav_active .ham_stick1{
  width: var(--ham_stick2_width);
transform: rotate(-45deg) translate(calc(var(--ham_stick2_height)*-3),var(--ham_stick2_height) );
}
.ham.nav_active .ham_stick2{
  opacity: 0;
}
.ham.nav_active .ham_stick3{
  width: var(--ham_stick2_width);
transform: rotate(45deg) translate(calc(var(--ham_stick2_height)*-3),calc(var(--ham_stick2_height)* -1) );
}


/* dropdown link animation */



#hero{
  height: 200vh;
  padding-top: var(--nav_height);
  text-align: center;
  font-family: var(--font_family_avenir);
  font-size: 40px;
}